include *.txt
include *.md
include *.pkl
include *.h5
recursive-include ./harit_model *

include harit_model/trained_models/*.h5
include harit_model/VERSION
include harit_model/config.yml

recursive-include requirements *
include requirements/requirements.txt

exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]